# Discord API token
DISCORD_TOKEN=
# character the bot looks for to know a string contains a command
# my instance looks for -
PREFIX=
# which port is exposed for Uptime Kuma (i.e. 3000)
HEALTH_PORT=
# used to specify which version of the bot is running locally
# for local dev, set it to si-card-bot:latest
IMAGE_URI=